
@{
    ViewBag.Title = "IstekListem";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row" style="margin-top:30px">
        <div class="panel panel-default">
            <!-- Varsayılan panel içeriği -->
            <div class="panel-heading">Aşağıda sepetinizdeki ürünler bulunmaktadır. </div>
            <!-- Table -->
            <table class="table">
                <tr style="font-weight:bold">
                    <td>İstek Listesinden Çıkar</td>
                    <td>Ürün Görseli</td>
                    <td>Ürün Adı</td>
                    <td>Toplam Fiyat</td>
                    <td>Stok Miktarı</td>
                    <td>Sepete Ekle</td>
                </tr>
                @{
                    foreach (var item in TempData["wishlistL"] as IEnumerable<ETicaretProjesi.Models.Wishlist>)
                    {
                        <tr>
                            <td><a href="@Url.Action("IstekListemdenCikar","Home",new { id = item.ProductID })" class="glyphicon glyphicon-trash" style="color:red; font-size:50px; margin-top:15px"></a></td>
                            <td><img src="@Url.Content(item.Product.ImageUrl)" style="height:10%" /></td>
                            <td><p style="margin-top:35px">@item.Product.Name</p></td>
                            <td><p style="margin-top:35px">@item.Product.UnitPrice</p></td>
                            <td><p style="margin-top:35px">@item.Product.UnitsInStock</p></td>
                            <td><a href="@Url.Action("IstekListemdenSepeteEkle","Home",new { id = item.ProductID})" class="glyphicon glyphicon-shopping-cart" style="color:lightgreen; font-size:50px; margin-top:15px"></a></td>
                        </tr>
                        }
                    }
            </table>
        </div>
    </div>
</div>

