
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin Paneli</title>
    <!-- Bootstrap core CSS -->
    <link href="~/Content/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template -->
    <link href="~/Content/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!-- Plugin CSS -->
    <link href="~/Content/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/css/sb-admin.css" rel="stylesheet">
</head>
<body class="fixed-nav" id="page-top">
    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav">
        <a class="navbar-brand" style="color:white">Admin Paneli</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav">
                <li class="nav-item active" data-toggle="tooltip" data-placement="right" title="Admin Özet">
                    <a class="nav-link" href="@Url.Action("AdminPanel","Admin")">
                        <i class="fa fa-pie-chart"></i>
                        <span class="nav-link-text">
                            Admin Özet
                        </span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Kategoriler">
                    <a class="nav-link" href="@Url.Action("Kategoriler","Admin")">
                        <i class="fa fa-fw fa-list"></i>
                        <span class="nav-link-text">
                            Kategoriler
                        </span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Ürünler">
                    <a class="nav-link" href="@Url.Action("Urunler","Admin")">
                        <i class="fa fa-fw fa-shopping-cart"></i>
                        <span class="nav-link-text">
                            Ürünler
                        </span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Yorumlar">
                    <a class="nav-link" href="@Url.Action("Yorumlar","Admin")">
                        <i class="fa fa-fw fa-comments"></i>
                        <span class="nav-link-text">
                            Yorumlar
                        </span>
                    </a>
                </li>
                <li class="nav-item" data-toggle="tooltip" data-placement="right" title="Üyeler">
                    <a class="nav-link" href="@Url.Action("Uyeler","Admin")">
                        <i class="fa fa-user-circle-o"></i>
                        <span class="nav-link-text">
                            Üyeler
                        </span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" style="color:white; padding-top:7px">
                    &nbsp;&nbsp;
                    <span class="fa fa-user-circle"></span>&nbsp;&nbsp;@Session["admin"]
                </li>&nbsp;&nbsp;
                <li class="nav-item">
                    <a href="@Url.Action("AnaSayfa", "Home")" class="nav-link">
                        <i class="fa fa-fw fa-sign-out"></i>
                        Geri Dön
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="content-wrapper py-3">
        <div class="container-fluid">
            @RenderBody()
        </div>
    </div>
    <!-- /.content-wrapper -->
    <!-- Scroll to Top Button -->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fa fa-angle-up"></i>
    </a>
    <!-- Logout Modal -->
   
    <!-- Bootstrap core JavaScript -->
    <script src="~/Content/vendor/jquery/jquery.min.js"></script>
    <script src="~/Content/vendor/popper/popper.min.js"></script>
    <script src="~/Content/vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="~/Content/vendor/jquery-easing/jquery.easing.min.js"></script>
    <script src="~/Content/vendor/chart.js/Chart.min.js"></script>
    <script src="~/Content/vendor/datatables/jquery.dataTables.js"></script>
    <script src="~/Content/vendor/datatables/dataTables.bootstrap4.js"></script>
    <!-- Custom scripts for this template -->
    <script src="~/Content/js/sb-admin.min.js"></script>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
</body>
</html>

