@model IEnumerable<ETicaretProjesi.Models.SubCategory>

@{
    ViewBag.Title = "Kategoriler";
    Layout = "~/Views/Shared/_adminLoyout.cshtml";
}

<h2>Kategori Listesi</h2><br />

<p>
    @Html.ActionLink("Yeni Kategori", "Create", "", new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            Kategori Adı
        </th>
        <th>
            Açıklama
        </th>
        <th>
            Resim1
        </th>
        <th>
            Resim2
        </th>
        <th>
            Durum
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Picture1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Picture2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IsActive)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Detay", "Details", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-primary" }) |
            @Html.ActionLink("Sil", "Delete", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
